@{
    Layout = null;
}

@model StudentManagementSystem.Models.Standard


<script type="text/javascript">
    function UploadStandard() {

        $.ajax(
           {
               url: '/Home/UploadStandard',
               type: 'POST',
               data: $('#formLeaderEdit').serialize(),
               //contentType: 'application/json; charset=utf-8',
               success: function (data) {
                   $('#myModalStd').modal('hide');
                   $("#viewload").html(data);
               },
               error: function () {
                   alert("error");
               }
           });
    }

</script>

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title" id="myModalLabel" style="text-align: center;"> Add Standard </h2>
    </div>

    <form id="formLeaderEdit" method="post" style="padding: 50;">
        <div class="editor-label">
            @Html.Label("Standard Name", new { @name = "name", required = "required", type = "text", id = "lblName" })
        </div>
        <div class="editor-label">
            @Html.TextBoxFor(m => m.Name)
        </div>
        <br />
        <div>
            <p>
                <input type="button" name="Update" value="Submit" onclick="UploadStandard()" />
            </p>
        </div>
    </form>
</div>


